@charset "UTC-8";
div#q1 {
    width: 600px;
    height: 400px;
    background-image: url(imagens/wallpaper003.jpg);
}
div#q2 {
    width: 600px;
    height: 400px;
    background-image: url(imagens/wallpaper003.jpg);
    background-position: right bottom;
}
div#q3 {
    width: 600px;
    height: 400px;
    background-image: url(imagens/wallpaper003.jpg);
    background-position: center top;
}
div#q4 {
    width: 600px;
    height: 400px;
    background-image: url(imagens/wallpaper003.jpg);
    background-position: center center;
}