@charset "UTC-8";
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    height:  100vh;
    background-image: url(imagens/espaco.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
div#q1 {
    margin: auto;
    position: relative;
    width: 100vh;
    height:  100vh;
}
#q2 {
    position: absolute;
    width: 200px;
    height: 200px;
    left:50% ;
    top:50%;
    transform: translate(-50%, -50%);
}